*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    max-width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
}
h1
{
    text-align: center;
    margin-bottom: 10px;
}

ul
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

li
{
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}